:root {
  --bg-navbar: #3f3d56;
  --li-color: #ffffff;
}

.navbar {
  width: 5rem;
  height: 100vh;
  background: red;
  position: fixed;
  background-color: var(--bg-navbar);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar:hover {
  width: 13.5rem;
}
